<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="style.css">

        {% block stylesheets %}

        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0px;
            }

            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                background-color: #333;
            }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

            .auth-links {
                margin-left: auto;
            }
            
            .auth-links a {
                margin-left: 10px;
            }

        </style>

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        {% include('navbar.html.twig') %}

        {% block body %}
        {% endblock %}
    </body>
</html>
