{% extends 'base.html.twig' %}

{% block title %}Import Sources{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Import Sources</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Import</button>
            <a href="{{ path('app_sources') }}" class="btn btn-secondary">Back to Sources</a>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}